USE [HMS]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NULL,
	[NationalityID] [int] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Gender] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Persons__AA2FFB858C8E0AF6] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[NationalityID] [int] IDENTITY(1,1) NOT NULL,
	[NationalityName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationPersons]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationPersons](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NULL,
	[UserID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Reservat__B7EE5F0455B1277B] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Capacity] [int] NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Rooms__32863919C4C8D2B6] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[BirthDate] [date] NULL,
	[NationalityID] [int] NULL,
	[PhoneNumber] [nvarchar](25) NULL,
	[Gender] [nchar](10) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK__Users__1788CCACDBFC59F6] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [UserID], [FirstName], [LastName], [BirthDate], [NationalityID], [PhoneNumber], [Gender], [CreatedAt]) VALUES (29, 22, N'Ali', N'Ahmed', CAST(N'2026-05-14' AS Date), 104, N'123456', N'Male', CAST(N'2026-05-14T12:50:54.683' AS DateTime))
INSERT [dbo].[Clients] ([ClientId], [UserID], [FirstName], [LastName], [BirthDate], [NationalityID], [PhoneNumber], [Gender], [CreatedAt]) VALUES (30, 22, N'Mohammed', N'Adnen', CAST(N'2026-05-14' AS Date), 191, N'1234', N'Male', CAST(N'2026-05-14T13:47:58.607' AS DateTime))
INSERT [dbo].[Clients] ([ClientId], [UserID], [FirstName], [LastName], [BirthDate], [NationalityID], [PhoneNumber], [Gender], [CreatedAt]) VALUES (31, 22, N'Ahmed', N'Salıh', CAST(N'2024-06-12' AS Date), 191, N'78945612', N'Male', CAST(N'2026-05-14T20:22:42.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Nationalities] ON 

INSERT [dbo].[Nationalities] ([NationalityID], [NationalityName]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Nationalities] ([NationalityID], [NationalityName]) VALUES (2, N'Albania')
INSERT [dbo].[Nationalities] ([NationalityID], [NationalityName]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Nationalities] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationID], [ClientId], [UserID], [RoomID], [CheckInDate], [CheckOutDate], [Status], [CreatedAt]) VALUES (33, 29, 22, 3, CAST(N'2026-05-14' AS Date), CAST(N'2026-05-15' AS Date), N'Confirmed', CAST(N'2026-05-14T13:28:42.857' AS DateTime))
INSERT [dbo].[Reservations] ([ReservationID], [ClientId], [UserID], [RoomID], [CheckInDate], [CheckOutDate], [Status], [CreatedAt]) VALUES (35, 30, 22, 9, CAST(N'2026-05-16' AS Date), CAST(N'2026-05-23' AS Date), N'Confirmed', CAST(N'2026-05-14T20:15:45.973' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'string')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [RoomTypeID], [Status], [Capacity], [PricePerNight]) VALUES (1, N'A100', 1, N'Available', 2, CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [RoomTypeID], [Status], [Capacity], [PricePerNight]) VALUES (2, N'A102', 1, N'Maintenance', 2, CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [RoomTypeID], [Status], [Capacity], [PricePerNight]) VALUES (3, N'A103', 1, N'Occupied', 2, CAST(100.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName]) VALUES (1, N'Single')
INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName]) VALUES (2, N'Double')
INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName]) VALUES (3, N'Suite')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Username], [PasswordHash], [RoleID], [IsActive], [BirthDate], [NationalityID], [PhoneNumber], [Gender], [CreatedAt], [ImagePath]) VALUES (22, N'Abdalmajeed', N'Abdullah', N'abd', N'1234', 2, 1, CAST(N'2008-05-14' AS Date), 44, N'3454534', N'Male      ', CAST(N'2026-05-14T10:10:34.400' AS DateTime), N'string')
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Username], [PasswordHash], [RoleID], [IsActive], [BirthDate], [NationalityID], [PhoneNumber], [Gender], [CreatedAt], [ImagePath]) VALUES (24, N'Osama', N'Ahmed', N'Ahmed', N'1234', 1, 1, CAST(N'2008-05-14' AS Date), 191, N'123456789', N'Female    ', CAST(N'2026-05-14T20:20:24.143' AS DateTime), N'C:\Users\2tita\Desktop\صور_المشروع\5172.jpg')
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Username], [PasswordHash], [RoleID], [IsActive], [BirthDate], [NationalityID], [PhoneNumber], [Gender], [CreatedAt], [ImagePath]) VALUES (25, N'aa', N'ss', N'ssd', N'ds', 2, 1, CAST(N'2008-05-14' AS Date), 191, N'444', N'Male      ', CAST(N'2026-05-14T20:50:02.220' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616016E0395A]    Script Date: 19/05/2026 16:33:15 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__AE10E07AD9BD3E89]    Script Date: 19/05/2026 16:33:15 ******/
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [UQ__Rooms__AE10E07AD9BD3E89] UNIQUE NONCLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E41DF43E31]    Script Date: 19/05/2026 16:33:15 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E41DF43E31] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF__Persons__Created__46E78A0C]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [DF__Reservati__Creat__5165187F]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF__Rooms__PricePerN__30C33EC3]  DEFAULT ((0)) FOR [PricePerNight]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__4222D4EF]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__4316F928]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Person_Nationality] FOREIGN KEY([NationalityID])
REFERENCES [dbo].[Nationalities] ([NationalityID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Person_Nationality]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Person_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Person_User]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservations] ([ReservationID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payment_Reservation]
GO
ALTER TABLE [dbo].[ReservationPersons]  WITH CHECK ADD  CONSTRAINT [FK_ResPerson_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Clients] ([ClientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationPersons] CHECK CONSTRAINT [FK_ResPerson_Person]
GO
ALTER TABLE [dbo].[ReservationPersons]  WITH CHECK ADD  CONSTRAINT [FK_ResPerson_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservations] ([ReservationID])
GO
ALTER TABLE [dbo].[ReservationPersons] CHECK CONSTRAINT [FK_ResPerson_Reservation]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservation_Room]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Users]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomType] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Room_RoomType]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [CK_Persons_Gender] CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [CK_Persons_Gender]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewClient]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------
-- 4. إضافة عميل جديد
---------------------------------------------------

CREATE   PROCEDURE [dbo].[SP_AddNewClient]
    @UserID INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @BirthDate DATE,
    @NationalityID INT,
    @PhoneNumber NVARCHAR(20),
    @Gender NVARCHAR(10),
    @NewClientID INT OUTPUT
AS
BEGIN
    INSERT INTO Clients
    (
        UserID,
        FirstName,
        LastName,
        BirthDate,
        NationalityID,
        PhoneNumber,
        Gender,
        CreatedAt
    )
    VALUES
    (
        @UserID,
        @FirstName,
        @LastName,
        @BirthDate,
        @NationalityID,
        @PhoneNumber,
        @Gender,
        GETDATE()
    );

    SET @NewClientID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewNationality]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewNationality]
    @NationalityName NVARCHAR(50),
    @NewNationalityID INT OUTPUT
AS
BEGIN
    INSERT INTO Nationalities (
        NationalityName
    )
    VALUES (
        @NationalityName
    );

    SET @NewNationalityID = SCOPE_IDENTITY();
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPayment]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewPayment]
    @ReservationID INT,
    @Amount DECIMAL(10,2),
    @PaymentMethod NVARCHAR(20),
    @NewPaymentID INT OUTPUT
AS
BEGIN
    INSERT INTO Payments (
        ReservationID,
        Amount,
        PaymentMethod,
        PaymentDate
    )
    VALUES (
        @ReservationID,
        @Amount,
        @PaymentMethod,
        GETDATE()
    );

    SET @NewPaymentID = SCOPE_IDENTITY();
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewReservation]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Add
CREATE   PROCEDURE [dbo].[SP_AddNewReservation]
    @RoomID INT, @ClientId INT, @UserID INT, @CheckInDate DATETIME, @CheckOutDate DATETIME, @Status NVARCHAR(50), @NewReservationID INT OUTPUT
AS
BEGIN
    INSERT INTO Reservations (RoomID, ClientId, UserID, CheckInDate, CheckOutDate, Status)
    VALUES (@RoomID, @ClientId, @UserID, @CheckInDate, @CheckOutDate, @Status);
    SET @NewReservationID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewRole]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewRole]
    @RoleName NVARCHAR(20),
    @NewRoleID INT OUTPUT
AS
BEGIN
    INSERT INTO Roles (
        RoleName
    )
    VALUES (
        @RoleName
    );

    SET @NewRoleID = SCOPE_IDENTITY();
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewRoom]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewRoom]
    @RoomNumber NVARCHAR(10),
    @RoomTypeID INT,
    @Status NVARCHAR(20),
	@Capacity int,
	@PricePerNight DECIMAL(10,2),
    @NewRoomID INT OUTPUT
AS
BEGIN
    INSERT INTO Rooms (RoomNumber, RoomTypeID, Status, Capacity, PricePerNight)
    VALUES (@RoomNumber, @RoomTypeID,@Status,@Capacity, @PricePerNight)

    SET @NewRoomID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewRoomType]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewRoomType]
    @TypeName NVARCHAR(50),
    @NewRoomTypeID INT OUTPUT
AS
BEGIN
    INSERT INTO RoomTypes (
        TypeName
    )
    VALUES (
        @TypeName
    );

    SET @NewRoomTypeID = SCOPE_IDENTITY();
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewUser]
    @UserName NVARCHAR(50),
    @PasswordHash NVARCHAR(MAX),
    @IsActive BIT,
    @FName NVARCHAR(50),
    @LName NVARCHAR(50),
    @BirthDate DATE,
    @PhoneNumber NVARCHAR(20),
    @NationalityID INT,
    @Gender NVARCHAR(10),
    @RoleName NVARCHAR(50),
    @ImagePath NVARCHAR(MAX),
    @NewUserID INT OUTPUT
AS
BEGIN
    DECLARE @RoleID INT;
    SELECT @RoleID = RoleID FROM Roles WHERE RoleName = @RoleName;

    INSERT INTO Users (Username, PasswordHash, IsActive, FirstName, LastName, BirthDate, PhoneNumber, NationalityID, Gender, RoleID, ImagePath, CreatedAt)
    VALUES (@UserName, @PasswordHash, @IsActive, @FName, @LName, @BirthDate, @PhoneNumber, @NationalityID, @Gender, @RoleID, @ImagePath, GETDATE());

    SET @NewUserID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AuthenticateUser]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AuthenticateUser]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(MAX)
AS
BEGIN
    SELECT U.UserID, U.FirstName, U.LastName, U.IsActive, R.RoleName
    FROM Users U
    INNER JOIN Roles R ON U.RoleID = R.RoleID
    WHERE U.Username = @Username AND U.PasswordHash = @PasswordHash;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeReservationStatus]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChangeReservationStatus]
    @ReservationID INT,
    @Status NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Reservations
    SET Status = @Status
    WHERE ReservationID = @ReservationID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeUserStatus]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ChangeUserStatus]
    @UserID INT,
    @IsActive BIT
AS
BEGIN
    UPDATE Users SET IsActive = @IsActive WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckUserLogin]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CheckUserLogin]
@UserName Nvarchar(100),
@Password  Nvarchar(255)
as
begin
	if exists(select 1 from Users 
			  where Username = @UserName AND 
			  PasswordHash = @Password)
			  begin 
					select 1 as LoginResult;
			  end

			  else
				begin 
					select 0 as LoginResult;
				end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteClient]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------
-- 6. حذف عميل
---------------------------------------------------

CREATE   PROCEDURE [dbo].[SP_DeleteClient]
    @ClientID INT
AS
BEGIN
    DELETE FROM Clients
    WHERE ClientID = @ClientID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteNationality]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteNationality]
    @NationalityID INT
AS
BEGIN
    DELETE FROM Nationalities
    WHERE NationalityID = @NationalityID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePayment]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeletePayment]
    @PaymentID INT
AS
BEGIN
    DELETE FROM Payments
    WHERE PaymentID = @PaymentID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteReservation]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteReservation]
    @ReservationID INT
AS
BEGIN
    DELETE FROM Reservations
    WHERE ReservationID = @ReservationID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRole]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteRole]
    @RoleID INT
AS
BEGIN
    DELETE FROM Roles
    WHERE RoleID = @RoleID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRoom]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteRoom]
    @RoomID INT
AS
BEGIN
    DELETE FROM Rooms WHERE RoomID = @RoomID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRoomType]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteRoomType]
    @RoomTypeID INT
AS
BEGIN
    DELETE FROM RoomTypes
    WHERE RoomTypeID = @RoomTypeID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteUser]
    @UserID INT
AS
BEGIN
    BEGIN TRY
        DELETE FROM Users WHERE UserID = @UserID;
        SELECT 1 AS ResultCode, 'User Deleted Successfully' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS ResultCode, 'Error deleting user: ' + ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllClients]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------
-- 1. جلب جميع العملاء
---------------------------------------------------

CREATE   PROCEDURE [dbo].[SP_GetAllClients]
AS
BEGIN
    SELECT
        ClientID,
        UserID,
        FirstName,
        LastName,
        BirthDate,
        NationalityID,
        PhoneNumber,
        Gender,
        CreatedAt
    FROM Clients
    ORDER BY CreatedAt ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllNationalities]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllNationalities]
AS
BEGIN
    SELECT
        NationalityID,
        NationalityName
    FROM Nationalities;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPayments]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPayments]
AS
BEGIN
    SELECT
        PaymentID,
        ReservationID,
        Amount,
        PaymentMethod,
        PaymentDate
    FROM Payments;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllReservations]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllReservations]
AS
BEGIN
    SELECT 
        r.ReservationID,
        r.RoomID,
        ro.RoomNumber,
        r.ClientId,
        c.FirstName + ' ' + c.LastName AS ClientName,
        r.UserID,
        u.FirstName + ' ' + u.LastName AS CreatedByUser,
        r.CheckInDate,
        r.CheckOutDate,
        r.Status
    FROM Reservations r
    INNER JOIN Rooms ro ON r.RoomID = ro.RoomID
    INNER JOIN Clients c ON r.ClientId = c.ClientID
    INNER JOIN Users u ON r.UserID = u.UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRoles]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllRoles]
AS
BEGIN
    SELECT
        RoleID,
        RoleName
    FROM Roles;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRooms]    Script Date: 19/05/2026 16:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllRooms]
AS
BEGIN
    SELECT 
        r.RoomID,
        r.RoomNumber,
        r.RoomTypeID, -- 🔥 أضف هذا
        rt.TypeName,
        r.PricePerNight,
        r.Capacity,
        r.Status
    FROM Rooms r
    INNER JOIN RoomTypes rt ON r.RoomTypeID = rt.RoomTypeID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRoomTypes]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllRoomTypes]
AS
BEGIN
    SELECT
        RoomTypeID,
        TypeName
    FROM RoomTypes;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllUsers]
AS
BEGIN
    SELECT U.UserID, U.Username, U.IsActive, U.CreatedAt, U.FirstName, U.LastName, U.BirthDate, U.PhoneNumber, 
           U.NationalityID, N.NationalityName, U.Gender, R.RoleName
    FROM Users U
    INNER JOIN Roles R ON U.RoleID = R.RoleID
    LEFT JOIN Nationalities N ON U.NationalityID = N.NationalityID
    ORDER BY U.UserID ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientByID]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------
-- 2. جلب عميل بواسطة ID
---------------------------------------------------

CREATE   PROCEDURE [dbo].[SP_GetClientByID]
    @ClientID INT
AS
BEGIN
    SELECT
        ClientID,
        UserID,
        FirstName,
        LastName,
        BirthDate,
        NationalityID,
        PhoneNumber,
        Gender,
        CreatedAt
    FROM Clients
    WHERE ClientID = @ClientID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientNamesAndIDs]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------
-- 3. جلب أسماء العملاء مع IDs
---------------------------------------------------

CREATE   PROCEDURE [dbo].[SP_GetClientNamesAndIDs]
AS
BEGIN
    SELECT
        ClientID,
        FirstName,
        LastName
    FROM Clients
    ORDER BY FirstName, LastName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetHotelRoomTimeline]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetHotelRoomTimeline]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        R.RoomID, 
        R.RoomNumber, 
        RT.TypeName, 
        R.PricePerNight, 
        R.Status AS RoomCurrentStatus, -- لمعرفة هل الغرفة في صيانة أم لا
        Res.ReservationID, 
        Res.CheckInDate, 
        Res.CheckOutDate, 
        Res.Status AS ReservationStatus,
        C.FirstName + ' ' + C.LastName AS CustomerName
    FROM Rooms R
    INNER JOIN RoomTypes RT ON R.RoomTypeID = RT.RoomTypeID
    LEFT JOIN Reservations Res ON R.RoomID = Res.RoomID 
        AND (Res.CheckInDate < @EndDate AND Res.CheckOutDate > @StartDate)
        AND Res.Status != 'Cancelled'
    LEFT JOIN Users U ON Res.UserID = U.UserID
    LEFT JOIN Clients C ON U.UserID = C.UserID 
    ORDER BY R.RoomNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNationalityByID]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetNationalityByID]
    @NationalityID INT
AS
BEGIN
    SELECT
        NationalityID,
        NationalityName
    FROM Nationalities
    WHERE NationalityID = @NationalityID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetNationalityByName]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetNationalityByName]
    @NationalityName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        NationalityID,
        NationalityName
    FROM Nationalities
    WHERE NationalityName = @NationalityName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPaymentByID]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPaymentByID]
    @PaymentID INT
AS
BEGIN
    SELECT
        PaymentID,
        ReservationID,
        Amount,
        PaymentMethod,
        PaymentDate
    FROM Payments
    WHERE PaymentID = @PaymentID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetPaymentsByReservationID]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPaymentsByReservationID]
    @ReservationID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PaymentID,
        ReservationID,
        Amount,
        PaymentMethod,
        PaymentDate
    FROM Payments
    WHERE ReservationID = @ReservationID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetReservationByID]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. GetByID
CREATE   PROCEDURE [dbo].[SP_GetReservationByID] @ReservationID INT
AS
BEGIN
    SELECT ReservationID, RoomID, ClientId, UserID, CheckInDate, CheckOutDate, Status FROM Reservations WHERE ReservationID = @ReservationID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoleByID]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRoleByID]
    @RoleID INT
AS
BEGIN
    SELECT
        RoleID,
        RoleName
    FROM Roles
    WHERE RoleID = @RoleID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoleByName]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRoleByName]
    @RoleName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        RoleID,
        RoleName
    FROM Roles
    WHERE RoleName = @RoleName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomByID]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRoomByID]
    @RoomID INT
AS
BEGIN
    SELECT 
        r.RoomID,
        r.RoomNumber,
        r.RoomTypeID, -- 🔥 أضف هذا
        rt.TypeName,
        r.PricePerNight,
        r.Capacity,
        r.Status
    FROM Rooms r
    INNER JOIN RoomTypes rt ON r.RoomTypeID = rt.RoomTypeID
    WHERE r.RoomID = @RoomID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomNumbers]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[SP_GetRoomNumbers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        RoomID,
        RoomNumber
    FROM Rooms;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomTypeByID]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRoomTypeByID]
    @RoomTypeID INT
AS
BEGIN
    SELECT
        RoomTypeID,
        TypeName
    FROM RoomTypes
    WHERE RoomTypeID = @RoomTypeID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomTypeByName]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRoomTypeByName]
    @TypeName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        RoomTypeID,
        TypeName
    FROM RoomTypes
    WHERE TypeName = @TypeName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByID]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUserByID]
    @UserID INT
AS
BEGIN
    SELECT U.*, R.RoleName, N.NationalityName
    FROM Users U
    INNER JOIN Roles R ON U.RoleID = R.RoleID
    LEFT JOIN Nationalities N ON U.NationalityID = N.NationalityID
    WHERE U.UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByUsername]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUserByUsername]
    @Username NVARCHAR(50)
AS
BEGIN
    SELECT U.*, R.RoleName, N.NationalityName
    FROM Users U
    INNER JOIN Roles R ON U.RoleID = R.RoleID
    LEFT JOIN Nationalities N ON U.NationalityID = N.NationalityID
    WHERE U.Username = @Username;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserRole]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserRole]
@UserID INT
AS
BEGIN

SELECT 
    U.UserID,
    U.Username,
    R.RoleName
FROM Users U
JOIN Roles R ON U.RoleID = R.RoleID
WHERE U.UserID = @UserID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsNationalityNameExists]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsNationalityNameExists]
    @NationalityName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Nationalities
        WHERE NationalityName = @NationalityName
    )
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPhoneNumberExists]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsPhoneNumberExists]
    @PhoneNumber NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Persons
        WHERE PhoneNumber = @PhoneNumber
    )
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsRoleNameExists]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsRoleNameExists]
    @RoleName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Roles
        WHERE RoleName = @RoleName
    )
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsRoomAvailable]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsRoomAvailable]
    @RoomID INT,
    @CheckInDate DATETIME,
    @CheckOutDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Reservations
        WHERE RoomID = @RoomID
          AND Status <> 'Cancelled'
          AND @CheckInDate < CheckOutDate
          AND @CheckOutDate > CheckInDate
    )
        SELECT 0;
    ELSE
        SELECT 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsRoomAvailableForUpdate]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsRoomAvailableForUpdate]
    @ReservationID INT,
    @RoomID INT,
    @CheckInDate DATETIME,
    @CheckOutDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Reservations
        WHERE RoomID = @RoomID
          AND ReservationID <> @ReservationID
          AND Status <> 'Cancelled'
          AND @CheckInDate < CheckOutDate
          AND @CheckOutDate > CheckInDate
    )
        SELECT 0;
    ELSE
        SELECT 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsRoomNumberExists]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsRoomNumberExists]
    @RoomNumber NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Rooms
        WHERE RoomNumber = @RoomNumber
    )
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsRoomTypeNameExists]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsRoomTypeNameExists]
    @TypeName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM RoomTypes
        WHERE TypeName = @TypeName
    )
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUsernameExists]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IsUsernameExists]
    @Username NVARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateClient]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------
-- 5. تحديث عميل
---------------------------------------------------

CREATE   PROCEDURE [dbo].[SP_UpdateClient]
    @ClientID INT,
    @UserID INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @BirthDate DATE,
    @NationalityID INT,
    @PhoneNumber NVARCHAR(20),
    @Gender NVARCHAR(10)
AS
BEGIN
    UPDATE Clients
    SET
        UserID = @UserID,
        FirstName = @FirstName,
        LastName = @LastName,
        BirthDate = @BirthDate,
        NationalityID = @NationalityID,
        PhoneNumber = @PhoneNumber,
        Gender = @Gender
    WHERE ClientID = @ClientID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateNationality]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateNationality]
    @NationalityID INT,
    @NationalityName NVARCHAR(50)
AS
BEGIN
    UPDATE Nationalities
    SET
        NationalityName = @NationalityName
    WHERE NationalityID = @NationalityID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePayment]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdatePayment]
    @PaymentID INT,
    @ReservationID INT,
    @Amount DECIMAL(10,2),
    @PaymentMethod NVARCHAR(20)
AS
BEGIN
    UPDATE Payments
    SET
        ReservationID = @ReservationID,
        Amount = @Amount,
        PaymentMethod = @PaymentMethod
    WHERE PaymentID = @PaymentID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateReservation]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Update
CREATE   PROCEDURE [dbo].[SP_UpdateReservation]
    @ReservationID INT, @RoomID INT, @ClientId INT, @UserID INT, @CheckInDate DATETIME, @CheckOutDate DATETIME, @Status NVARCHAR(50)
AS
BEGIN
    UPDATE Reservations SET RoomID = @RoomID, ClientId = @ClientId, UserID = @UserID, CheckInDate = @CheckInDate, CheckOutDate = @CheckOutDate, Status = @Status
    WHERE ReservationID = @ReservationID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRole]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateRole]
    @RoleID INT,
    @RoleName NVARCHAR(20)
AS
BEGIN
    UPDATE Roles
    SET
        RoleName = @RoleName
    WHERE RoleID = @RoleID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRoom]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateRoom]
    @RoomID INT,
    @RoomNumber NVARCHAR(10),
    @RoomTypeID INT,
    @Status NVARCHAR(20),
    @Capacity INT,
    @PricePerNight DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Rooms
    SET 
        RoomNumber = @RoomNumber,
        RoomTypeID = @RoomTypeID,
        PricePerNight = @PricePerNight,
        Status = @Status,
        Capacity = @Capacity
    WHERE RoomID = @RoomID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRoomType]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateRoomType]
    @RoomTypeID INT,
    @TypeName NVARCHAR(50)
AS
BEGIN
    UPDATE RoomTypes
    SET
        TypeName = @TypeName
    WHERE RoomTypeID = @RoomTypeID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateUser]
    @UserID INT,
    @UserName NVARCHAR(50),
    @PasswordHash NVARCHAR(MAX),
    @IsActive BIT,
    @FName NVARCHAR(50),
    @LName NVARCHAR(50),
    @BirthDate DATE,
    @PhoneNumber NVARCHAR(20),
    @NationalityID INT,
    @Gender NVARCHAR(10),
    @RoleName NVARCHAR(50),
    @ImagePath NVARCHAR(MAX)
AS
BEGIN
    DECLARE @RoleID INT;
    SELECT @RoleID = RoleID FROM Roles WHERE RoleName = @RoleName;

    UPDATE Users
    SET Username = @UserName, PasswordHash = @PasswordHash, IsActive = @IsActive, FirstName = @FName, LastName = @LName, 
        BirthDate = @BirthDate, PhoneNumber = @PhoneNumber, NationalityID = @NationalityID, Gender = @Gender, RoleID = @RoleID, ImagePath = @ImagePath
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddGuestToReservation]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
USAGE:
    DECLARE @NewID INT;
    EXEC usp_CreateReservation
        @UserID           = 1,
        @RoomID           = 3,
        @CheckIn          = '2024-08-20',
        @CheckOut         = '2024-08-25',
        @Status           = 'Confirmed',
        @NewReservationID = @NewID OUTPUT;
    SELECT @NewID AS NewReservationID;
*/


-- ============================================================
-- 4. usp_AddGuestToReservation
--    Add a guest (person) to an existing reservation
--    Creates the Person record and links it to the reservation
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_AddGuestToReservation]
    @ReservationID INT,
    @FirstName     NVARCHAR(100),
    @LastName      NVARCHAR(100),
    @BirthDate     DATE         = NULL,
    @NationalityID INT          = NULL,
    @PhoneNumber   NVARCHAR(40) = NULL,
    @Gender        NVARCHAR(40) = NULL,
    @UserID        INT          = NULL,   -- Optional: link to a user account
    @NewPersonID   INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validate reservation exists
        IF NOT EXISTS (SELECT 1 FROM Reservations WHERE ReservationID = @ReservationID)
        BEGIN
            RAISERROR('Reservation not found.', 16, 1);
            RETURN;
        END

        -- Create the person record
        INSERT INTO Persons
            (UserID, FirstName, LastName, BirthDate, NationalityID, PhoneNumber, Gender, CreatedAt)
        VALUES
            (@UserID, @FirstName, @LastName, @BirthDate, @NationalityID,
             @PhoneNumber, @Gender, GETDATE());

        SET @NewPersonID = SCOPE_IDENTITY();

        -- Link the person to the reservation
        INSERT INTO ReservationPersons (ReservationID, PersonID)
        VALUES (@ReservationID, @NewPersonID);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_AddPayment]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
USAGE:
    DECLARE @PID INT;
    EXEC usp_AddGuestToReservation
        @ReservationID = 1,
        @FirstName     = 'Ahmed',
        @LastName      = 'Al-Rashid',
        @Gender        = 'Male',
        @PhoneNumber   = '+905001234567',
        @NationalityID = 2,
        @NewPersonID   = @PID OUTPUT;
    SELECT @PID AS NewPersonID;
*/


-- ============================================================
-- 5. usp_AddPayment
--    Register a payment against a reservation
--    Returns updated financial summary
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_AddPayment]
    @ReservationID INT,
    @Amount        DECIMAL(10,2),
    @PaymentMethod NVARCHAR(40),    -- Cash / Card / BankTransfer
    @PaymentDate   DATETIME = NULL  -- Defaults to now
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate reservation
    IF NOT EXISTS (SELECT 1 FROM Reservations WHERE ReservationID = @ReservationID)
    BEGIN
        RAISERROR('Reservation not found.', 16, 1);
        RETURN;
    END

    -- Validate amount
    IF @Amount <= 0
    BEGIN
        RAISERROR('Payment amount must be greater than zero.', 16, 1);
        RETURN;
    END

    INSERT INTO Payments (ReservationID, Amount, PaymentMethod, PaymentDate)
    VALUES (@ReservationID, @Amount, @PaymentMethod, ISNULL(@PaymentDate, GETDATE()));

    -- Return updated financial summary
    SELECT
        res.ReservationID,
        r.RoomNumber,
        res.CheckInDate,
        res.CheckOutDate,
        DATEDIFF(DAY, res.CheckInDate, res.CheckOutDate)              AS Nights,
        r.PricePerNight,
        r.PricePerNight * DATEDIFF(DAY, res.CheckInDate, res.CheckOutDate) AS TotalAmount,
        SUM(pay.Amount)                                               AS TotalPaid,
        (r.PricePerNight * DATEDIFF(DAY, res.CheckInDate, res.CheckOutDate))
            - SUM(pay.Amount)                                         AS BalanceDue
    FROM  Reservations res
    JOIN  Rooms    r   ON r.RoomID    = res.RoomID
    JOIN  Payments pay ON pay.ReservationID = res.ReservationID
    WHERE res.ReservationID = @ReservationID
    GROUP BY res.ReservationID, r.RoomNumber, r.PricePerNight,
             res.CheckInDate, res.CheckOutDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CancelReservation]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
USAGE:
    EXEC usp_AddPayment
        @ReservationID = 1,
        @Amount        = 500.00,
        @PaymentMethod = 'Cash';
*/


-- ============================================================
-- 6. usp_CancelReservation
--    Cancel an existing reservation
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_CancelReservation]
    @ReservationID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Reservations WHERE ReservationID = @ReservationID)
    BEGIN
        RAISERROR('Reservation not found.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Reservations
               WHERE ReservationID = @ReservationID AND Status = 'Cancelled')
    BEGIN
        RAISERROR('Reservation is already cancelled.', 16, 1);
        RETURN;
    END

    UPDATE Reservations
    SET    Status = 'Cancelled'
    WHERE  ReservationID = @ReservationID;

    SELECT
        ReservationID,
        Status,
        CheckInDate,
        CheckOutDate
    FROM Reservations
    WHERE ReservationID = @ReservationID;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateReservation]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
USAGE:
    -- All available rooms
    EXEC usp_GetAvailableRooms
        @CheckIn  = '2024-08-20',
        @CheckOut = '2024-08-25';

    -- Available rooms for 3+ guests
    EXEC usp_GetAvailableRooms
        @CheckIn  = '2024-08-20',
        @CheckOut = '2024-08-25',
        @Capacity = 3;
*/


-- ============================================================
-- 3. usp_CreateReservation
--    Create a new reservation with conflict check
--    Returns the new ReservationID via OUTPUT parameter
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_CreateReservation]
    @UserID           INT,
    @RoomID           INT,
    @CheckIn          DATE,
    @CheckOut         DATE,
    @Status           NVARCHAR(40) = 'Confirmed',   -- Confirmed / Pending
    @NewReservationID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validate dates
        IF @CheckIn >= @CheckOut
        BEGIN
            RAISERROR('Check-out date must be after check-in date.', 16, 1);
            RETURN;
        END

        -- Check room is not already booked in this period
        IF EXISTS (
            SELECT 1 FROM Reservations
            WHERE  RoomID       = @RoomID
              AND  Status       NOT IN ('Cancelled')
              AND  CheckInDate  < @CheckOut
              AND  CheckOutDate > @CheckIn
        )
        BEGIN
            RAISERROR('Room is already reserved for the selected dates.', 16, 1);
            RETURN;
        END

        -- Check room exists and is available
        IF NOT EXISTS (SELECT 1 FROM Rooms WHERE RoomID = @RoomID AND Status = 'Available')
        BEGIN
            RAISERROR('Room does not exist or is not available.', 16, 1);
            RETURN;
        END

        INSERT INTO Reservations (UserID, RoomID, CheckInDate, CheckOutDate, Status, CreatedAt)
        VALUES (@UserID, @RoomID, @CheckIn, @CheckOut, @Status, GETDATE());

        SET @NewReservationID = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAvailableRooms]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
USAGE:
    EXEC usp_GetRoomAvailabilityGantt
        @StartDate = '2024-08-14',
        @EndDate   = '2024-08-28';
*/


-- ============================================================
-- 2. usp_GetAvailableRooms
--    Returns all rooms available between two dates
--    Optional filter by minimum capacity
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_GetAvailableRooms]
    @CheckIn  DATE,
    @CheckOut DATE,
    @Capacity INT = NULL        -- Optional: filter by number of guests
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.RoomID,
        r.RoomNumber,
        rt.TypeName,
        r.Capacity,
        r.PricePerNight,
        DATEDIFF(DAY, @CheckIn, @CheckOut)                        AS Nights,
        r.PricePerNight * DATEDIFF(DAY, @CheckIn, @CheckOut)     AS TotalPrice
    FROM  Rooms     r
    JOIN  RoomTypes rt ON rt.RoomTypeID = r.RoomTypeID
    WHERE r.Status = 'Available'
      AND (@Capacity IS NULL OR r.Capacity >= @Capacity)
      AND r.RoomID NOT IN (
            SELECT RoomID FROM Reservations
            WHERE  Status       NOT IN ('Cancelled')
              AND  CheckInDate  < @CheckOut
              AND  CheckOutDate > @CheckIn
          )
    ORDER BY rt.TypeName, r.PricePerNight;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDailyOccupancyReport]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
USAGE:
    EXEC usp_GetReservationDetails @ReservationID = 1;
*/


-- ============================================================
-- 8. usp_GetDailyOccupancyReport
--    Daily occupancy and revenue report for a date range
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_GetDailyOccupancyReport]
    @StartDate DATE,
    @EndDate   DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TotalRooms INT = (
        SELECT COUNT(*) FROM Rooms WHERE Status != 'OutOfService'
    );

    WITH DateSeries AS (
        SELECT @StartDate AS ReportDate
        UNION ALL
        SELECT DATEADD(DAY, 1, ReportDate)
        FROM   DateSeries
        WHERE  ReportDate < @EndDate
    )
    SELECT
        ds.ReportDate,
        DATENAME(WEEKDAY, ds.ReportDate)                              AS DayName,
        @TotalRooms                                                   AS TotalRooms,
        COUNT(res.ReservationID)                                      AS OccupiedRooms,
        @TotalRooms - COUNT(res.ReservationID)                        AS FreeRooms,
        CAST(COUNT(res.ReservationID) * 100.0 / @TotalRooms
             AS DECIMAL(5,1))                                         AS OccupancyPct,
        ISNULL(SUM(r.PricePerNight), 0)                              AS DailyRevenue
    FROM  DateSeries ds
    LEFT JOIN Reservations res
           ON  res.CheckInDate  <= ds.ReportDate
          AND  res.CheckOutDate >  ds.ReportDate
          AND  res.Status       NOT IN ('Cancelled')
    LEFT JOIN Rooms r ON r.RoomID = res.RoomID
    GROUP BY ds.ReportDate
    ORDER BY ds.ReportDate
    OPTION (MAXRECURSION 365);
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetReservationDetails]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
USAGE:
    EXEC usp_CancelReservation @ReservationID = 5;
*/


-- ============================================================
-- 7. usp_GetReservationDetails
--    Full reservation details in 3 result sets:
--      #1 - Reservation + Room info + Financial summary
--      #2 - Guest list
--      #3 - Payment history
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_GetReservationDetails]
    @ReservationID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Reservations WHERE ReservationID = @ReservationID)
    BEGIN
        RAISERROR('Reservation not found.', 16, 1);
        RETURN;
    END

    -- Result Set 1: Reservation + Room + Financials
    SELECT
        res.ReservationID,
        res.Status,
        res.CheckInDate,
        res.CheckOutDate,
        DATEDIFF(DAY, res.CheckInDate, res.CheckOutDate)              AS Nights,
        res.CreatedAt,
        r.RoomNumber,
        rt.TypeName,
        r.Capacity,
        r.PricePerNight,
        r.PricePerNight * DATEDIFF(DAY, res.CheckInDate, res.CheckOutDate)  AS TotalAmount,
        ISNULL((SELECT SUM(Amount) FROM Payments
                WHERE  ReservationID = res.ReservationID), 0)         AS TotalPaid,
        (r.PricePerNight * DATEDIFF(DAY, res.CheckInDate, res.CheckOutDate))
        - ISNULL((SELECT SUM(Amount) FROM Payments
                  WHERE  ReservationID = res.ReservationID), 0)       AS BalanceDue
    FROM  Reservations res
    JOIN  Rooms     r  ON r.RoomID      = res.RoomID
    JOIN  RoomTypes rt ON rt.RoomTypeID = r.RoomTypeID
    WHERE res.ReservationID = @ReservationID;

    -- Result Set 2: Guests
    SELECT
        p.PersonID,
        p.FirstName + ' ' + p.LastName  AS FullName,
        p.BirthDate,
        p.Gender,
        p.PhoneNumber,
        n.NationalityName
    FROM  ReservationPersons rp
    JOIN  Persons       p  ON p.PersonID       = rp.PersonID
    LEFT JOIN Nationalities n ON n.NationalityID = p.NationalityID
    WHERE rp.ReservationID = @ReservationID;

    -- Result Set 3: Payment history
    SELECT
        PaymentID,
        Amount,
        PaymentMethod,
        PaymentDate
    FROM  Payments
    WHERE ReservationID = @ReservationID
    ORDER BY PaymentDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetRoomAvailabilityGantt]    Script Date: 19/05/2026 16:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 1. usp_GetRoomAvailabilityGantt
--    Fetch all rooms with their reservations for Gantt chart display
-- ============================================================
CREATE   PROCEDURE [dbo].[usp_GetRoomAvailabilityGantt]
    @StartDate DATE,
    @EndDate   DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Result Set 1: All rooms with their type info
    SELECT
        r.RoomID,
        r.RoomNumber,
        r.RoomTypeID,
        rt.TypeName,
        r.Status        AS RoomStatus,
        r.Capacity,
        r.PricePerNight
    FROM  Rooms     r
    JOIN  RoomTypes rt ON rt.RoomTypeID = r.RoomTypeID
    ORDER BY rt.TypeName, r.RoomNumber;

    -- Result Set 2: Reservations overlapping with the given date range
    SELECT
        res.ReservationID,
        res.RoomID,
        res.CheckInDate,
        res.CheckOutDate,
        res.Status                                                  AS ReservationStatus,
        ISNULL(p.FirstName + ' ' + p.LastName, 'Unknown')          AS GuestName,
        DATEDIFF(DAY, res.CheckInDate, res.CheckOutDate)            AS Nights,

        -- Number of guests linked to this reservation
        (SELECT COUNT(*) FROM ReservationPersons rp
         WHERE  rp.ReservationID = res.ReservationID)               AS GuestCount,

        -- Total amount paid
        ISNULL((SELECT SUM(pay.Amount) FROM Payments pay
                WHERE  pay.ReservationID = res.ReservationID), 0)   AS TotalPaid,

        -- Full reservation amount
        r.PricePerNight *
            DATEDIFF(DAY, res.CheckInDate, res.CheckOutDate)        AS TotalAmount,

        -- Remaining balance
        (r.PricePerNight * DATEDIFF(DAY, res.CheckInDate, res.CheckOutDate))
        - ISNULL((SELECT SUM(pay.Amount) FROM Payments pay
                  WHERE pay.ReservationID = res.ReservationID), 0)  AS BalanceDue

    FROM  Reservations res
    JOIN  Rooms  r     ON r.RoomID    = res.RoomID
    LEFT JOIN ReservationPersons rpers
                       ON rpers.ReservationID = res.ReservationID
    LEFT JOIN Persons p ON p.PersonID = rpers.PersonID

    WHERE res.CheckInDate  < @EndDate
      AND res.CheckOutDate > @StartDate

    GROUP BY
        res.ReservationID, res.RoomID,
        res.CheckInDate, res.CheckOutDate, res.Status,
        p.FirstName, p.LastName, r.PricePerNight

    ORDER BY res.RoomID, res.CheckInDate;
END;
GO
